 

	<script src="components/jquery/dist/jquery.min.js"></script>
	<script src="./build/three.js"></script>

	<script src="./js/loaders/DDSLoader.js"></script>
	<script src="./js/loaders/MTLLoader.js"></script>
	<script src="./js/loaders/OBJLoader.js"></script>

	<script src="./js/Detector.js"></script>
	<script src="./js/libs/stats.js"></script>
<!--    <script src="https://cdn.socket.io/socket.io-1.7.2.js"></script>-->
	<script src="https://cdn.socket.io/socket.io-1.4.5.js"></script>
	<script src="./scripts.js"></script>


</body>

</html>